<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin and Add Faculty Panels</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(#e2e8ea, #f58fa8);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .choose {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h2 {
            margin-bottom: 20px;
            color: #333;
        }
        .button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 0;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
<center>
    <div class="choose">
        <!--<h1>Welcome to the Website</h1>-->
        <h2>Admin Panel</h2>
        <form action="/admin" method="post">
            <button class="button" type="submit">Go to Admin Panel</button>
        </form>
        <h2>Add A New Faculty</h2>
        <form action="/faculty" method="post">
            <button class="button" type="submit">Go to the Add Faculty Panel</button>
        </form>
    </div>
</center>
</body>
</html>
