
<html>
<center>
    <form action="/set" method="post">
    <table border="0" cellpadding="5" cellspacing="0" width="600">
        <tr> <td>
            <label for="facultyName">Faculty Name:</label>
        </td> <td>
            <input name="facultyName" type="text" maxlength="60" style="width:100%;max-width: 146px;" />
<!--            <input name="LastName" type="text" maxlength="60" style="width:100%;max-width: 146px;" />-->
        </td> </tr> <tr> <td>
        <label for="courseName">Course Name:</label>
    </td> <td>
        <input name="courseName" type="text" maxlength="60" style="width:100%;max-width: 300px;" />
    </td> </tr> <tr> <td>
        <label for="courseCode">Course Code*:</label>
    </td>
        <td>
            <input name="courseCode" type="text" maxlength="60" style="width:100%;max-width: 300px;" />
        </td>
    </tr>
        <tr> <td>
        <label for="email">Email:</label>
    </td>
         <td>
        <input name="email" type="text" maxlength="60" style="width:100%;max-width: 300px;" />
    </td> </tr>
        <td>

        <input name="skip_Submit" type="submit" value="Submit" />
    </td> </tr>
    </table>
</form>
</center>
</html>